*{
  background-color: aqua;
  font-family: 'JetBrains Mono', monospace;
}


#create-main,#resume-list{
  border: 2px solid red;
  padding: 12px;
  border-radius: 6px;
  background-color: white;
  position: absolute;
  top: 50px;
  left: 300px;
}
#create-main > *,#resume-list > *{
  
  background-color: white;
  
}

#create-title{
  background-color: white;
  text-align: center;
  text-shadow: 2px 2px aqua;
}

#view-btn{
  display: inline;
  margin: 12px;
  position: relative;
  left: 559px;
  bottom: 15px;
  border: 2px solid aqua;
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
  font-size: 0.9rem;
}

#view-btn:hover{
  
  box-shadow: 2px 2px aqua;
  background-color: white;
  cursor: pointer;
}

input{
  background-color: white;
  border: 2px solid aqua;
  border-radius: 6px;
}

#ed-title,#exp-title{
  font-size: 1.6rem;
  background-color: white;
}

#option{
  font-size: 1.6rem;
  background-color: white;
  cursor: pointer;
  border: 2px solid aqua;
  margin-top: 12px;
  padding: 12px;
  border-radius: 6px;
  
}
#option-list{
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  background-color: white;
}

#list-main{
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
}

#one-resume{
  background-color: white;
  border: 2px solid aqua;
  border-radius: 6px;
  padding: 12px;
  cursor: pointer;
}


td,th{
  text-align: center;
  padding: 0 2px 5px;
  background-color: white;
}

h2,p,li,ul{
  background-color: white;

}